<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<section class="page-header">
    <div class="overly"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="content text-center">
                    <h1 class="mb-3">Cart</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-transparent justify-content-center">
                            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Cart</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cart shopping page-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="product-list">
                    <form class="cart-form">
                        <table class="table shop_table shop_table_responsive cart" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail"> </th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-subtotal">Total</th>
                                    <th class="product-update"> </th>
                                    <th class="product-remove"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="cart_item" *ngFor="let item of cartItems">
                                    <td class="product-thumbnail" data-title="Thumbnail">
                                        <a routerLink="/product-single"><img src="{{src}}uploads/product/{{item.product.image}}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""></a>
                                    </td>
                                    <td class="product-name" data-title="Product">
                                        <a href="#">{{item.product.name}}</a>
                                    </td>
                                    <td class="product-price" data-title="Price">
                                        <span class="amount"><span class="currencySymbol">
                                          &#36;</span>{{item.product.price}}x{{item.quantity}}</span>
                                    </td>

                                    <td class="product-quantity" data-title="Quantity"><br>
                                        <div class="quantity"><br>
                                            <label class="sr-only">Quantity</label>
                                            <input type="number" id="qty" class="input-text qty text" #quantity [value]="item.quantity" step="1" min="1" max="9" title="Qty" size="4"><br>
                                        </div><br>
                                        <br>
                                    </td>
                                    <td class="product-subtotal" data-title="Total">
                                        <span class="amount">
                                  <span class="currencySymbol">
                                  &#36;</span>{{+item.quantity *+item.product.price}}</span>
                                    </td>
                                    <td class="product-update" data-title="Update">
                                        <div class="update text-info" (click)="update_cart(item._id!,quantity.value);" aria-label="Update this item" data-product_id="30" data-product_sku="">
                                            <i class='fa fa-save'></i>
                                        </div>
                                    </td>
                                    <td class="product-remove" data-title="Remove"><br>
                                        <div class="remove" aria-label="Remove this item" (click)="deleteProduct(item._id!)" data-product_id="30" data-product_sku="">×</div>
                                    </td>
                                </tr>

                            </tbody><br>
                        </table><br>
                    </form><br>
                </div><br>
            </div><br>
        </div>

        <div class="row justify-content-end"><br>
            <div class="col-lg-4"><br>
                <div class="cart-info card p-4"><br>
                    <h4 class="mb-4">Cart totals</h4>

                    <ul class="list-unstyled mb-4"><br>
                        <li class="d-flex justify-content-between pb-2 mb-3"><br>
                            <h5>Subtotal</h5><br>
                            <span>${{sum}}</span><br>
                        </li>

                        <li class="d-flex justify-content-between pb-2 mb-3"><br>
                            <h5>Shipping</h5><br>
                            <span>{{(shipping==0)?"Free":shipping}}</span><br>
                        </li>

                        <li class="d-flex justify-content-between pb-2"><br>
                            <h5>Total</h5><br>
                            <span>${{shipping+sum}}</span><br>
                        </li><br>
                    </ul><br>
                    <a href="#" class="btn btn-main btn-small">Proceed to checkout</a><br>
                </div><br>
            </div><br>
        </div><br>
    </div><br>
</section>
