<section class="page-header">
    <div class="overly"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="content text-center">
                    <h1 class="mb-3">Dashboard</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-transparent justify-content-center">
                            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="user-dashboard page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 col-sm-12 col-lg-3">
                <div class="nav flex-column nav-pills">
                    <a [classList]="(tab=='dashboard')?'nav-link active':'nav-link'" (click)="tab ='dashboard'">Dashboard</a>
                </div>
                <div class="nav flex-column nav-pills">
                    <a [classList]="(tab=='wish-list')?'nav-link active':'nav-link'" (click)="tab ='wish-list'">Wish list</a>
                </div>


                <!-- <div class="nav flex-column nav-pills">
                    <a class="nav-link" routerLink="/dashboard">Downloads</a>
                </div>
                <div class="nav flex-column nav-pills">
                    <a class="nav-link" routerLink="/dashboard">Address</a>
                </div> -->
                <!-- <div class="nav flex-column nav-pills">
                    <a class="nav-link" routerLink="/dashboard">Account</a>
                </div> -->
                <div class="nav flex-column nav-pills">
                    <a class="nav-link" (click)="logout()">Log Out</a>
                </div>
            </div>
            <div [ngSwitch]="tab" class="col-12 col-md-7 col-sm-12 col-lg-9">
                <div *ngSwitchCase="'dashboard'">
                    <p>Hello {{name}} (wanna logout? <span class="text-primary" (click)="logout()">Log out</span>)</p>
                    From your account dashboard you can view your <span class="text-primary" (click)="tab ='wish-list'">wish list</span>
                    <!-- , manage your <a href="#">cart</a>
    and <a href="#">edit your password and account details</a>. -->
                </div>
                <div *ngSwitchCase="'wish-list'">
                    <app-wish-list></app-wish-list>
                </div>
            </div>
        </div>
    </div>
</section>