<div class="container card text-dark py-2 my-2 px-3">
    <div class="row">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

        <app-create-product>
        </app-create-product>
        <div class="col-md-4 align-items-center">
            <button type="button" class="btn btn-info  col-md-12 " data-toggle="modal" data-target="#addProductModel">add new product</button>
            <app-product-list></app-product-list>

        </div>
        <div class="col-md-8">
            <router-outlet></router-outlet>
        </div>
        <app-user-list></app-user-list>

    </div>


</div>
