<div class="row">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <app-create-product>
    </app-create-product>
    <div class="col">
        <section class="cart shopping pt-5">
            <div class="container card">
                <button type="button" class="btn btn-info my-1 text" data-toggle="modal" data-target="#addProductModel">add new product</button>

                <app-product-list></app-product-list>
                <app-user-list></app-user-list>

            </div>
        </section>
    </div>
</div>