<div class="">

    <h2>user list</h2>
    <!-- Search form -->
    <div class="md-form mt-0">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchUser">
    </div>
    <div class="user-list overflow-auto">
        <table class="table table-striped ">
            <thead class="thead-dark">
                <tr>
                    <th class="">Id</th>
                    <th class="">name</th>
                    <th class="">email</th>
                    <th class=""></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users | filter:searchUser">
                    <td class="">{{user._id}}</td>
                    <td class="">{{user.name}}</td>
                    <td class="">{{user.email}}</td>

                    <td class="user-remove" data-title="Remove">
                        <div (click)="deleteProduct(user._id)" class="remove text-danger" aria-label="Remove this item" data-user-id="30" data-user_sku="">
                            <i class='fa fa-remove'></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
