<section class="page-header">
    <div class="overly"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="content text-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-transparent justify-content-center">
                            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Product Single</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<section *ngIf="product" class="single-product">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="single-product-slider">
                    <div class="carousel slide" data-ride="carousel" id="single-product-slider">
                        <div class="carousel-inner">
                            <img src="{{src}}uploads/product/{{product.image}}" style="width:400px;" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="">

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="single-product-details mt-5 mt-lg-0">
                    <h2>{{product.name}}</h2>
                    <div class="sku_wrapper mb-4">
                        ID: <span class="text-muted">{{product._id}} </span>
                    </div>
                    <hr>

                    <h3 class="product-price">${{product.price}}</h3>

                    <p class="product-description my-4 ">
                        {{product.description}} </p>
                    <form class="cart" action="#" method="post">
                        <div class="quantity d-flex align-items-center">
                            <input type="number" id="#" class="input-text qty text form-control w-25 mr-3" #quantity step="1" min="1" max="{{(product.quantity >= 9)?9:product.quantity}}" name="quantity" value="1" title="Qty" size="4">
                            <a (click)="addToCart(quantity.value)" class="btn btn-main btn-small">Add to cart</a>
                        </div>
                    </form>



                    <div class="products-meta mt-4">
                        <div class="product-category d-flex align-items-center">
                            <span class="font-weight-bold text-capitalize product-meta-title">Categories :</span>
                            <a *ngFor="let color of product.colors" href="#">{{color}} , </a>
                            <a *ngFor="let tag of product.tags" href="#">{{tag}} , </a>
                        </div>

                        <b (click)="addToWishList()" class="text-primary">Add to wish list</b>
                        <div *ngIf="message.active" class="alert {{message.class}}" role="alert">
                            {{message.message}}
                        </div>


                        <div class="product-share mt-5">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="#"><i class="tf-ion-social-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><i class="tf-ion-social-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><i class="tf-ion-social-linkedin"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><i class="tf-ion-social-pinterest"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="products related-products section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center">
                    <h2>You may like this</h2>
                    <p>The best Online sales to shop these weekend</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="product">
                    <div class="product-wrap">
                        <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/444.jpg" alt="product-img" /></a>
                    </div>
                    <span class="onsale">Sale</span>
                    <div class="product-hover-overlay">
                        <a href="#"><i class="tf-ion-android-cart"></i></a>
                        <a href="#"><i class="tf-ion-ios-heart"></i></a>
                    </div>
                    <div class="product-info">
                        <h2 class="product-title h5 mb-0"><a routerLink="/product-single">Kirby Shirt</a></h2>
                        <span class="price">
              $329.10
            </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="product">
                    <div class="product-wrap">
                        <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/111.jpg" alt="product-img" /></a>
                        <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/222.jpg" alt="product-img" /></a>
                    </div>
                    <span class="onsale">Sale</span>
                    <div class="product-hover-overlay">
                        <a href="#"><i class="tf-ion-android-cart"></i></a>
                        <a href="#"><i class="tf-ion-ios-heart"></i></a>
                    </div>
                    <div class="product-info">
                        <h2 class="product-title h5 mb-0"><a routerLink="/product-single">Kirby Shirt</a></h2>
                        <span class="price">
              $329.10
            </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="product">
                    <div class="product-wrap">
                        <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/111.jpg" alt="product-img" /></a>
                        <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/322.jpg" alt="product-img" /></a>
                    </div>
                    <span class="onsale">Sale</span>
                    <div class="product-hover-overlay">
                        <a href="#"><i class="tf-ion-android-cart"></i></a>
                        <a href="#"><i class="tf-ion-ios-heart"></i></a>
                    </div>
                    <div class="product-info">
                        <h2 class="product-title h5 mb-0"><a routerLink="/product-single">Kirby Shirt</a></h2>
                        <span class="price">
              $329.10
            </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="product">
                    <div class="product-wrap">
                        <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/444.jpg" alt="product-img" /></a>
                        <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/222.jpg" alt="product-img" /></a>
                    </div>
                    <span class="onsale">Sale</span>
                    <div class="product-hover-overlay">
                        <a href="#"><i class="tf-ion-android-cart"></i></a>
                        <a href="#"><i class="tf-ion-ios-heart"></i></a>
                    </div>
                    <div class="product-info">
                        <h2 class="product-title h5 mb-0"><a routerLink="/product-single">Kirby Shirt</a></h2>
                        <span class="price">
              $329.10
            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->