<div *ngIf="product" class="product-view overflow-auto">


    <div>
        <div class="w-100 d-flex justify-content-center">

            <a routerLink="/product-single"><img src="http://localhost:8000/uploads/product/{{product.image}}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""></a>
        </div>

        <div class="form-group mt-2">
            <label for="name">Product name</label>
            <p>{{product.name}}</p>
        </div>
        <div class="form-group mt-2">
            <label for="description">Product description</label>
            <p>{{product.description}}</p>
        </div>
        <div class="form-group mt-2">
            <label for="price">Product price</label>
            <p>{{product.price}}</p>
        </div>
        <div class="form-group mt-2">
            <label for="quantity">Product quantity</label>
            <p>{{product.quantity}}</p>
        </div>
        <div class="form-group mt-2">
            <label for="color">Product color</label>
            <div class="" *ngFor="let color of product.colors">
                <label class="form-check-label">{{color}}</label>

            </div>
        </div>
        <div class="mt-2">
            <label for="tags">Product tags</label>
            <div *ngFor="let tag of product.tags">
                <label class="form-check-label">{{tag}}</label>
            </div>
        </div>
        <div class="mt-2">
            <p class="text-success" *ngIf="product.availability" for="availability">available</p>
            <p class="text-danger" *ngIf="!product.availability" for="availability">not available</p>
        </div>

        <div class="modal-footer">
            <a routerLink="/update/{{product._id}}">
                <button type="button" class="btn btn-info">Edit</button>
            </a>
            <button type="button" class="btn btn-danger" (click)="deleteProduct(product._id)">delete</button>

        </div>
    </div>
</div>
